h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	font-size: 3em;
	margin-top: 80px;
	text-align: center;
	letter-spacing: -2px;
}

.room_entry {
	padding-bottom: 30px;
}

.room_entry > img,
.room_entry > form {
	display: inline-block;
}


