{% extends 'base.html' %}

{% block styles %}

{# add flask-bootstrap's css includes #}
{{ super() }}

<style>
    .room-label {
        /* animate color changes */
        transition: background-color 0.5s ease;
    }
    .room-state {
        padding: 2px;
    }
    .empty {
        background-color: lightgreen;
    }
    .occupied {
        background-color: lightcoral;
    }
    .five-min {
        background-color: lightsalmon;
    }
    .unknown {
        background-color: lightgrey;
    }
    .cleaning {
        background-color: lightyellow;
    }
    .button-cell {
        width: 1px;
        white-space:nowrap;
    }
    .btn-state {
        border: 1px #ddd solid;
    }
    body {
        background-color: #aaa;
    }
    #inputBrightness {
        width: auto;
        display: inline;
    }
    #logo{
        height: 30px;
        width: auto;
        float: right;
        margin-top: 60px;
        margin-right:  -60px;
        margin-bottom: 100px; 
    }
</style>
{% endblock %}

{% block app_content %}
    <body>
        
        <h1>{{ title }}</h1>

        {% block listing_header %}{% endblock %}
        
        {% if controls_enabled %}
            <form>
                <div class="form-group">
                <label for="inputBrightness">Brightness</label>
                <input type="text" class="form-control" id="inputBrightness" placeholder="255">
                <button type="button" id="btn-brightness" class="btn btn-primary">Set brightness</button>
                </div>
            </form>
        {% endif %}

        {# room listing #}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Room number</th>
                <th scope="col">State</th>
                {% if controls_enabled %}
                <th class="button-cell" scope="col">Set room state</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {# generate table rows for each room #}
              {% for room in rooms %}
                {% set room_number = room.room_number %}
                {% set room_state = room.state.value %}
                <tr>
                    {# column 1: display room number #}
                    {% if room.room_number < first_floor %}
                    <td>{{ room.room_number +101 }} - {{room.room_name}}</td>
                    {% endif %}
                    {% if room.room_number >= first_floor and room.room_number < rooms|length  %}
                    <td>{{ room.room_number +201 }} - {{room.room_name}}</td>
                    {% endif %}
                    {# column 2: display room status #}
                    <td id="room-{{ room_number }}" class="room-label" data-roomnumber="{{ room_number }}" data-state="{{ room_state }}"> {{ room_state }} </td>
                    {# column 3: (optionally) display room controls #}
                    {% if controls_enabled %}
                    <td class="button-cell">
                        <button type="button" autocomplete="off" data-roomnumber="{{ room_number }}" data-state="0" class="btn btn-state empty">Empty</button>
                        <button type="button" autocomplete="off" data-roomnumber="{{ room_number }}" data-state="1" class="btn btn-state occupied">Occupied</button>
                        <button type="button" autocomplete="off" data-roomnumber="{{ room_number }}" data-state="2" class="btn btn-state five-min">Five minutes left</button>
                        <button type="button" autocomplete="off" data-roomnumber="{{ room_number }}" data-state="3" class="btn btn-state cleaning">Cleaning</button>
                    </td>
                    {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <img src="{{ url_for( 'static', filename='img/logo.png' ) }}" id="logo">

    </body>

{% endblock %}

{% block scripts %}

{# add flask-bootstrap's js includes for things like jquery #}
{{ super() }}

<script type="text/javascript" charset="utf-8">
    
    const labels = [ "Unknown", "Empty", "Occupied", "5 minutes left", "Cleaning", "Unknown" ];
    const classes = [ "unknown", "empty", "occupied", "five-min", "cleaning", "unknown" ];
    
    // generate a <div> to display a label for a room state
    function labelForState( state ){
        // states are numbered from -1 (unknown). add one so we can use them as array indexes
        let labelIndex = state + 1;
        return '<div class="room-state">' +
                labels[ labelIndex ] +
                '</div>';
    }
    
    // display a state for a room
    function setStateForRoom( room_number, state ){
        
        // find the <td> that holds the state label for this room
        let tdRoom = $( '#room-' + room_number );
        
        // set the contents of this <td> to a <div> containing a label
        tdRoom.html( labelForState( state ) );
        
        // set the css class of this <td> to match the state
        // states are numbered from -1 (unknown). add one so we can use them as array indexes
        let clsState = classes[ state + 1 ];
        // remove any state classes from this td that we don't want
        for( var i=0; i < classes.length; i++ ){
            var thisClass = classes[ i ];
            if( thisClass != clsState ){
                tdRoom.removeClass( thisClass );
            }
        } 
        // add the css class for this state to the td
        tdRoom.addClass( clsState );

        // store the new state on the <td> element
        tdRoom.data( 'state', state );
    }

</script>

<script type="text/javascript" charset="utf-8">
    
    // all of the weird $() syntax in here is the jQuery API

    // when the page has loaded...
    $(document).ready( function(){

        // loop through all of the <td> elements that show a room state
        $('td.room-label').each( function(index){
            // get the initial state from the element itself
            // (this data was added when the template was rendered by the flask route)
            let state = $(this).data( 'state' );
            let room_number = $(this).data( 'roomnumber' );
            // display initial state
            setStateForRoom( room_number, state );
        });

        // function used to set whether all of the buttons in a <td> are enabled or disabled
        function setButtonGroupEnabled( btnClicked, toEnabled ){
            const allButtons = $( btnClicked ).parent().children( ".btn-state" );
            allButtons.toggleClass( "disabled" );
            allButtons.prop( "disabled", !toEnabled );
        };

        // set up click actions for state set buttons
        $('button.btn-state').click( function(event){
            
            // get some data from the button that was clicked
            let state = $(this).data( 'state' );
            let room_number = $(this).data( 'roomnumber' );
            
            // ajax-post it to the flask webapp
            $.post(
                "/api/v1/states",
                {
                    'room' : room_number,
                    'state' : state
                }
            )

            // disable this button group 
            setButtonGroupEnabled( this, false );
            // cancel any existing delayed function calls for this button
            if( this.timeoutId ) window.clearTimeout( this.timeoutId );
            // re-enable this button group
            const thisRef = this;
            this.timeoutId = window.setTimeout( function(){
                setButtonGroupEnabled( thisRef, true );
            }, 2000 );
        });

        // set up click action for brightness button
        $('#btn-brightness').click( function(event){
            // ajax-post to the flask webapp
            $.post(
                "/api/v1/brightness",
                {
                    'value' : $("#inputBrightness").val()
                }
            )
        });
    })

</script>

<script src="{{ url_for( 'static', filename='js/socket.io.js' ) }}"></script>
<script type="text/javascript" charset="utf-8">
    
    var socket = io();
    
    // built-in connection event
    socket.on('connect', function() {
        socket.emit('browser', {data: 'I\'m connected!'});
    }); 

    // our custom data events
    socket.on( 'rooms', function(data){
        console.log( "received room data:", data )
        setStateForRoom( data[ "room" ], data[ "state" ] );
    });

</script>

{% endblock %}
